* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}   

h1, h2 , h3, h4, h5 , h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Inicio */

.eslogan{
    color: #ffffffb9;
    background-color: rgba(0, 0, 0, 0.473);
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 15%;
    display: flex;
}
.stock{
    padding: 2%;
    width: 100%;
    height: 100%;
    }

.stock h2{
    padding: 1rem;
    font-size: 40px;
    text-align: center;
    justify-content: center;
}

.stock_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
       
}

.card{
    margin: 10%; 
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
}

.card-body{
    text-align: center;
}

.data{
    width: 100%;
    padding: 1%;
    display: flex;
    background-color: rgb(18, 18, 18); 
}

.presentacion{
    padding: 0% 3% 0% 2%;
    text-align: center;
    color: #fff;
}

.presentacion h5{
    padding: 1%;
    padding-bottom: 5%;
}

.ubicacion{
    padding-right: 1%;
    padding-bottom: 1%;
}

.ubicacion h5{
text-align: center;
color:#fff;
padding: 1%;
}

.experiencias h5{
    text-align: center;
    padding-top: 1%;
}

.exp_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 2%;
    text-align: center;
    
}

.opinion_card{
    width: 350px;
    background-color: #ebebeb;
    border-radius: 10px;
}

.opinion_bubble{
    display: flex;
    width: 100%;
    flex-direction: column;

}



/* Catalogo */
.catalogo{
    display: grid;
    grid-template-columns: repeat(2, 0.7fr);
    grid-template-rows: 83% 40px repeat(3, 100px) 60px;
    /* grid-template-areas:
    "barra_lateral vehiculos"
    "barra_lateral vehiculos"
    "barra_lateral form"; */
}

.barra_lateral{
    background-color: navajowhite;
    width: 70%;
    
}

.vehiculos h1{
    text-align: center;
    margin-top: 2%;
}

.vehiculos_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;

}

.vehiculos_container .card{
    margin: 1rem ;
}


/* Footer */

footer .container-fluid{
    height: 10em;
    text-align: center;
    
/*     flex-direction: column; */
}

footer .navbar-brand{
    background-color: red;
    

}

footer .navbar-nav{
   display: inline-block;
}

footer .d-flex{
    flex-direction:  ;
}


@media (max-width:992px)
{
    .eslogan h1{
        top: 20%;
        font-size: 1.5rem;
    }

    .stock_container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        overflow-x: scroll;
        gap: 2%;
    }

    .data{
        flex-direction: column;
        text-align: center;
    }

    .mapa{
        width: 400px;
        height: 200px;
    }

    .exp_container{
        grid-template-columns: repeat(6, 1fr);
        overflow-x: scroll;
        gap: 1rem;
    }
}

@media (max-width:576px)
{
    .eslogan h1{
        font-size: 0.5rem;
    }

    .stock_container{
        gap: 3%;
    }

}