@import url("https://fonts.googleapis.com/css2?family=Flow+Rounded&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Flow+Rounded&family=Nunito&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

h1 {
  font-family: "bree serif";
  text-align: center;
  margin: 2%;
}

h2 {
  font-family: "bree serif";
}

h3,
h4,
h5,
h6 {
  font-family: "nunito";
}

body {
  font-family: "nunito";
}

.banner {
  width: 100%;
}

.mapa {
  border-radius: 5%;
}

.form_enviar {
  padding: 5px 10px;
  background-color: #84b868;
  border-radius: 0.5rem;
  color: black;
  border: 1.5px solid black;
  transition: all 0.5s;
}
.form_enviar:hover {
  background-color: black;
  color: #84b868;
  transition: all 0.5s;
}

.stock_card {
  width: 20rem;
  border-radius: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.174);
  margin-bottom: 5%;
  overflow: auto;
  text-align: center;
}
.stock_card h3 {
  margin: 2%;
}
.stock_card .card_img {
  width: 100%;
}
.stock_card .card_txt {
  list-style: none;
  transform: translate(-6%);
}

/* Navegacion */
#checkbox,
.menu label {
  display: none;
}

.menu {
  height: 3.8rem;
  width: 100%;
  display: flex;
}
.menu label {
  display: none;
}
.menu label i .bx {
  font-size: 2rem;
}
.menu span {
  padding-left: 2%;
  margin-top: 1%;
  font-size: 2rem;
  font-family: "bree serif";
}
.menu .menu_nav {
  display: flex;
  width: 50%;
  padding: 3%;
  font-size: 1.1rem;
  margin-left: 5rem;
}
.menu .menu_nav .nav_item {
  margin: 0 0.7rem;
  list-style: none;
}
.menu .menu_nav .nav_item :hover {
  background-color: #84b868;
  transition: all 1s;
}
.menu .menu_nav .nav_item a {
  border-radius: 5rem;
  text-decoration: none;
  color: black;
  padding: 6%;
}

/*Pagina de inicio*/
.eslogan {
  color: rgba(255, 255, 255, 0.7254901961);
  z-index: 1;
  position: absolute;
  top: 46%;
  left: 15%;
}
.eslogan h1 {
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.473);
  border-radius: 1rem;
}

.stock {
  padding: 2%;
  width: 100%;
  height: 100%;
}
.stock h2 {
  padding: 1rem;
  font-size: 2.5rem;
  text-align: center;
  justify-content: center;
}
.stock .stock_container {
  width: 100%;
  margin-left: 1%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.stock .stock_container .stock_card {
  width: 17rem;
}
.stock .stock_boton {
  text-align: center;
}

/* Informacion de la concesionaria */
.data {
  width: 100%;
  padding: 1%;
  display: flex;
  background-image: linear-gradient(to right, #121212, #121212, #121212, #121212, #121212, #1c1d22, #212933, #233644, #135765, #007976, #3e9a75, #84b868);
}
.data .presentacion {
  padding: 0% 3% 0% 2%;
  text-align: center;
  color: #fff;
}
.data .presentacion h4 {
  padding: 1%;
  padding-bottom: 5%;
}
.data .ubicacion {
  padding-right: 1%;
  padding-bottom: 1%;
}
.data .ubicacion h4 {
  text-align: center;
  color: #fff;
  padding: 1%;
}

/* Experiencia de clientes */
.experiencias h4 {
  text-align: center;
  padding-top: 1%;
}
.experiencias .exp_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2%;
  margin: 0 0 0 1%;
  text-align: center;
}
.experiencias .exp_container .opinion_card {
  width: 350px;
  background-color: #ebebeb;
  border-radius: 1.25rem;
  padding: 1%;
}
.experiencias .exp_container .opinion_card .opinion_bubble {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.experiencias .exp_container .opinion_card .opinion_happy {
  color: #84b868;
}

/*Pagina de catalogo */
.catalogo {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 0fr auto 0.1fr;
  grid-template-areas: "barra vehiculos" "barra heviculos" "barra numeracion";
  /* Barra lateral de filtros */
  /* Grilla de vehiculos */
  /* Pie numerado de paginas */
}
.catalogo #check_filter {
  display: none;
}
.catalogo .barra_lateral {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  grid-area: barra;
  text-align: center;
}
.catalogo .barra_lateral .filtros {
  margin: 10%;
}
.catalogo .barra_lateral .filtros .icono label i {
  font-size: 2rem;
}
.catalogo .barra_lateral .filtros .filter .categoria,
.catalogo .barra_lateral .filtros .filter .estado,
.catalogo .barra_lateral .filtros .filter .financiacion,
.catalogo .barra_lateral .filtros .filter .combustible,
.catalogo .barra_lateral .filtros .filter .traccion {
  padding: 3%;
  margin: 0.5rem;
}
.catalogo .vehiculos {
  grid-area: vehiculos;
  width: 100%;
  margin: 1%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.catalogo .numeracion {
  grid-area: numeracion;
  margin-bottom: 5%;
  margin-left: 35%;
}

/* Pagina de nosotros */
.nosotros_bienvenida {
  text-align: center;
  margin: 2rem 0;
}

.nosotros_historia {
  display: grid;
  grid-template-columns: 2fr 2fr;
  text-align: center;
}
.nosotros_historia .historia_txt {
  padding: 0 7%;
}
.nosotros_historia .historia_txt h4 {
  font-size: 1.8rem;
}
.nosotros_historia .historia_img {
  margin-top: 3rem;
}
.nosotros_historia .historia_img .img_grupo {
  list-style: none;
}
.nosotros_historia .historia_img .img_grupo .img_foto {
  margin: 2%;
}
.nosotros_historia .historia_img .img_grupo .img_foto img {
  width: 25rem;
  border-radius: 1rem;
}

/*Pagina de contacto */
.info {
  display: flex;
}
.info .ubicacion {
  width: 60%;
  text-align: center;
  padding: 1%;
}
.info .ubicacion h2,
.info .ubicacion h4 {
  margin: 3%;
}
.info .form {
  width: 50%;
  text-align: center;
  padding: 1%;
  margin-right: 4%;
}
.info .form h2 {
  margin: 3%;
  margin-bottom: 7%;
}
.info .form .form-floating {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
  border-radius: 1rem;
}
.info .btn {
  margin: 2%;
}

/* footer */
.footer {
  background-color: rgb(18, 18, 18);
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 1% 4%;
}
.footer .links h2,
.footer .redes h2,
.footer .contact h2 {
  font-size: 1.6rem;
}
.footer .links ul,
.footer .redes ul,
.footer .contact ul {
  padding: 0;
  padding-top: 1rem;
  width: 160px;
  height: 90px;
  display: flex;
  flex-direction: column;
}
.footer .links ul .link_item,
.footer .redes ul .link_item,
.footer .contact ul .link_item {
  list-style: none;
}
.footer .links ul .link_item a,
.footer .redes ul .link_item a,
.footer .contact ul .link_item a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.footer .links ul .link_item a i,
.footer .redes ul .link_item a i,
.footer .contact ul .link_item a i {
  color: #84b868;
  padding: 3%;
}
.footer .links ul .link_item a i .bx,
.footer .redes ul .link_item a i .bx,
.footer .contact ul .link_item a i .bx {
  margin-right: 6px;
  font-size: 1.2rem;
}

.contacto {
  margin-right: 5rem;
  text-align: center;
}
.contacto .boton_buscar {
  margin-top: 1rem;
}
.contacto .boton_buscar .form_buscar {
  display: flex;
  gap: 5%;
}
.contacto .boton_buscar .form_buscar input {
  padding: 2%;
  border-radius: 0.5rem;
}
.contacto .boton_buscar .form_buscar .form_enviar {
  padding: 1%;
  background-color: black;
  border-radius: 0.5rem;
  color: #84b868;
  border: 1px solid #84b868;
  transition: all 1s;
}
.contacto .boton_buscar .form_buscar .form_enviar:hover {
  background-color: #84b868;
  color: black;
  transition: all 1s;
}

@media (max-width: 1220px) {
  .eslogan {
    top: 16%;
    transform: translate(-5%);
  }
  .stock_card {
    width: 19rem;
  }
}
@media (max-width: 1160px) {
  .stock .stock_container {
    transform: translate(5%);
    grid-template-columns: repeat(2, 1fr);
  }
  .stock .stock_container .stock_card {
    width: 22rem;
  }
  .stock_card {
    width: 18rem;
  }
  .experiencias .exp_container {
    grid-template-columns: repeat(6, 1fr);
    overflow-x: scroll;
  }
}
@media (max-width: 1100px) {
  .stock_card {
    width: 16.5rem;
  }
}
@media (max-width: 992px) {
  .eslogan {
    top: 12%;
  }
  .eslogan h1 {
    font-size: 1.8em;
  }
  .data {
    flex-direction: column;
    text-align: center;
  }
  .mapa {
    width: 400px;
    height: 200px;
  }
  .stock_card {
    width: 15rem;
  }
}
@media (max-width: 950px) {
  .catalogo .vehiculos {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    justify-content: space-evenly;
  }
}
@media (max-width: 905px) {
  .menu .menu_nav {
    padding-left: 0;
    margin: 0;
  }
  .catalogo .numeracion {
    margin-top: 5%;
    margin-left: 20%;
  }
}
@media (max-width: 890px) {
  .eslogan h1 {
    font-size: 1.5rem;
  }
  .nosotros_historia .historia_img .img_grupo .img_foto img {
    width: 20rem;
  }
  .info {
    flex-direction: column;
    transform: translate(20%);
  }
  .form {
    margin-left: 5%;
    width: 80%;
  }
}
@media (max-width: 768px) {
  .menu label {
    margin: 3% 2%;
    display: block;
  }
  .menu .menu_nav {
    display: none;
  }
  .menu #checkbox:checked ~ .menu_nav {
    background-color: rgba(122, 183, 90, 0.7568627451);
    width: 100%;
    height: 15%;
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 2%;
  }
  .eslogan {
    top: 10%;
  }
  .catalogo {
    grid-template-columns: 0.2fr 2fr;
  }
  .filtros .filter {
    display: none;
  }
  #check_filter:checked ~ .filter {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .catalogo .numeracion {
    margin-top: 10%;
  }
  .nosotros_historia {
    display: flex;
    flex-direction: column;
  }
  .nosotros_historia .historia_img .img_grupo {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
  .nosotros_historia .historia_img .img_grupo .img_foto img {
    width: 15rem;
  }
  .footer .links {
    display: none;
  }
  .footer .contact .contacto .boton_buscar .form_buscar input {
    display: flex;
  }
}
@media (max-width: 700px) {
  .eslogan {
    margin-left: 2%;
  }
  .eslogan h1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 680px) {
  .stock .stock_container .stock_card {
    width: 14rem;
  }
}
@media (max-width: 576px) {
  .eslogan {
    top: 8%;
  }
  .eslogan h1 {
    font-size: 1rem;
  }
  .mapa {
    width: 350px;
    height: 150px;
  }
  .contacto ul .link_item {
    display: flex;
    flex-direction: column;
  }
  .contacto .d-flex {
    flex-direction: column;
    width: 60%;
  }
  .stock_card {
    width: 12rem;
  }
}
@media (max-width: 500px) {
  .eslogan {
    top: 8% h1;
    top-font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
