* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Navegacion */
#checkbox {
  display: none;
}

#checkbox:checked ~ .menu_nav {
  display: none;
}

.menu {
  background-color: #fff;
  height: 3.5rem;
  display: flex;
}
.menu .menu_check label i .bx {
  font-size: 2rem;
}
.menu .menu_check span {
  font-size: 2.1rem;
}
.menu .menu_nav {
  display: flex;
  padding: 1%;
  font-size: 1.1rem;
  margin-left: 30rem;
}
.menu .menu_nav .nav_item {
  margin: 0 0.7rem;
  list-style: none;
}
.menu .menu_nav .nav_item :hover {
  background-color: #84B868;
}
.menu .menu_nav .nav_item a {
  border-radius: 0.8rem;
  text-decoration: none;
  color: black;
  padding: 5% 8%;
}

/*Pagina de inicio*/
.eslogan {
  color: rgba(255, 255, 255, 0.7254901961);
  background-color: rgba(0, 0, 0, 0.473);
  z-index: 1;
  position: absolute;
  top: 47%;
  left: 16%;
  display: flex;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  padding: 1%;
}

.stock {
  padding: 2%;
  width: 100%;
  height: 100%;
}
.stock h2 {
  padding: 1rem;
  font-size: 2.5rem;
  text-align: center;
  justify-content: center;
}
.stock .stock_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.stock .stock_container .stock_card {
  width: 18rem;
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  border: solid 1px rgb(0, 0, 0);
}
.stock .stock_container .stock_card .card_img {
  width: 100%;
  border-radius: 1rem;
}
.stock .stock_container .stock_card p {
  background-color: #fff;
}

/* Informacion de la concesionaria */
.data {
  width: 100%;
  padding: 1%;
  display: flex;
  background-color: rgb(18, 18, 18);
}
.data .presentacion {
  padding: 0% 3% 0% 2%;
  text-align: center;
  color: #fff;
}
.data .presentacion h5 {
  padding: 1%;
  padding-bottom: 5%;
}
.data .ubicacion {
  padding-right: 1%;
  padding-bottom: 1%;
}
.data .ubicacion h5 {
  text-align: center;
  color: #fff;
  padding: 1%;
}

/* Experiencia de clientes */
.experiencias h5 {
  text-align: center;
  padding-top: 1%;
}
.experiencias .exp_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2%;
  margin: 0 0 0 1%;
  text-align: center;
}
.experiencias .exp_container .opinion_card {
  width: 350px;
  background-color: #ebebeb;
  border-radius: 10px;
  padding: 1%;
}
.experiencias .exp_container .opinion_card .opinion_bubble {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.experiencias .exp_container .opinion_card .opinion_happy {
  color: #84B868;
}

/*Pagina de catalogo */
.catalogo {
  display: grid;
  grid-template-columns: 13% 80%;
  grid-template-rows: 0fr auto 0.1fr;
  grid-template-areas: "barra vehiculos" "barra heviculos" "barra numeracion";
  /* Barra lateral de filtros */
  /* Grilla de vehiculos */
  /* Pie numerado de paginas */
}
.catalogo .barra_lateral {
  margin-top: 50%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  grid-area: barra;
  text-align: center;
}
.catalogo .barra_lateral .filtros {
  margin: 10%;
}
.catalogo .barra_lateral .filtros #check_filter {
  display: none;
}
.catalogo .barra_lateral .filtros #check_filter:checked ~ .filter {
  display: none;
}
.catalogo .barra_lateral .filtros .filter .categoria, .catalogo .barra_lateral .filtros .filter .estado, .catalogo .barra_lateral .filtros .filter .financiacion, .catalogo .barra_lateral .filtros .filter .combustible, .catalogo .barra_lateral .filtros .filter .traccion {
  padding: 3%;
  margin: 0.7rem;
}
.catalogo .vehiculos {
  grid-area: vehiculos;
}
.catalogo .vehiculos h1 {
  text-align: center;
  margin-top: 2%;
  margin-left: 5%;
}
.catalogo .vehiculos .vehiculos_container {
  width: 100%;
  height: 100%;
  margin: 1%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.catalogo .vehiculos .vehiculos_container .card {
  margin: 1rem;
}
.catalogo .numeracion {
  grid-area: numeracion;
  margin-bottom: 2%;
  margin-left: 35%;
}

/*Pagina de contacto */
.info {
  display: flex;
}
.info .ubicacion {
  width: 100%;
  text-align: center;
  padding: 1%;
  margin: 1%;
}
.info .ubicacion h2, .info .ubicacion h4 {
  margin: 3%;
}
.info .form {
  width: 70%;
  text-align: center;
  margin: 5%;
  margin-top: 3%;
}
.info .form h2 {
  padding: 1%;
}
.info .form .form-floating {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
}
.info .btn {
  margin: 2%;
}

/* footer */
.footer {
  background-color: rgb(18, 18, 18);
  padding: 1% 5%;
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer .links h2, .footer .redes h2, .footer .contact h2 {
  font-size: 1.6rem;
  padding: 0% 0%;
}
.footer .links ul, .footer .redes ul, .footer .contact ul {
  padding: 0;
  width: 160px;
  height: 90px;
  display: flex;
  flex-direction: column;
}
.footer .links ul .link_item, .footer .redes ul .link_item, .footer .contact ul .link_item {
  list-style: none;
}
.footer .links ul .link_item a, .footer .redes ul .link_item a, .footer .contact ul .link_item a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.footer .links ul .link_item a i, .footer .redes ul .link_item a i, .footer .contact ul .link_item a i {
  color: #84B868;
  padding: 3%;
}
.footer .links ul .link_item a i .bx, .footer .redes ul .link_item a i .bx, .footer .contact ul .link_item a i .bx {
  margin-right: 6px;
  font-size: 1.2rem;
}
@media (max-width: 1130px) {
  .vehiculos_container {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 15%;
  }
  .exp_container {
    grid-template-columns: repeat(6, 1fr);
    overflow-x: scroll;
    gap: 1rem;
  }
}
@media (max-width: 992px) {
  .eslogan h1 {
    top: 20%;
  }
  .stock_container {
    overflow-x: scroll;
    gap: 2%;
  }
  .data {
    flex-direction: column;
    text-align: center;
  }
  .mapa {
    width: 400px;
    height: 200px;
  }
}
@media (max-width: 890px) {
  .icono label {
    display: block;
  }
  .icono label i.bx {
    font-size: 3rem;
  }
  .filter {
    display: none;
  }
  #check_filter:checked ~ .filter {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .vehiculos {
    margin-top: 5%;
  }
  .info {
    flex-direction: column;
  }
  .form {
    margin-left: 10%;
    width: 80%;
  }
}
@media (max-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer ul {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .eslogan h1 {
    top: 20%;
  }
  .stock_container {
    gap: 3%;
  }
  .mapa {
    width: 250px;
    height: 100px;
  }
  .contacto ul .link_item {
    display: flex;
    flex-direction: column;
  }
  .contacto .d-flex {
    flex-direction: column;
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
