@media (max-width: 1160px) {
  .stock {
    .stock_container {
      transform: translate(4%);
      grid-template-columns: repeat(2, 1fr);
      margin: $porcentaje * 5;
      .stock_card {
        width: 22rem;
      }
    }
  }

  .stock_card {
    width: 18rem;
  }

  .experiencias {
    .exp_container {
      grid-template-columns: repeat(6, 1fr);
      overflow-x: scroll;
    }
  }
}

@media (max-width: 1100px) {
  .stock_card {
    width: 16.5rem;
  }
}

@media (max-width: 992px) {
  
  .data {
    flex-direction: column;
    text-align: center;
  }

  .mapa {
    width: 90%;
    height: 200px;
  }

  .stock_card {
    width: 15rem;
  }
}

@media (max-width: 950px) {
  .catalogo {
    .vehiculos {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .stock{
    
    transform: translate(-3%);
    
  }

  .catalogo{
    .numeracion{
      transform: translate(-25%);
    }
  }

}

@media (max-width: 905px) {
  .menu {
    .menu_nav {
      padding-left: 0;
      margin: 0;
    }
  }

}

@media (max-width: 890px) {
  
  .nosotros_historia {
    .historia_img {
      .img_grupo {
        .img_foto {
          img {
            width: 20rem;
          }
        }
      }
    }
  }

  .info {
    flex-direction: column;

    
    .ubicacion{
      transform: translate(12%);
    }


    .form {

      transform: translate(40%);
      .form-floating {
        width: 150%;
        transform: translate(-10%);
      }

      .stock_boton{
        transform: translate(10%);
      }
    }
  }
}

@media (max-width: 768px) {
  .menu {
    text-align: center;
    label {
      margin: 2.5%;
      display: block;
      
    }

    span {
      justify-content: center;
      margin-right: 33%;
    }

    .menu_nav {
      display: none;
    }
  }

  .menu #checkbox:checked ~ .menu_nav {
    background-color: #3e9a75e2;
    width: 100%;
    height: 15rem;
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    padding: 2%;
  }


  .stock {
    .stock_container {
    transform: translate(8%);
      .stock_card {
        width: 15rem;
      }
    }
  }

  .catalogo {
    grid-template-columns: 0.2fr 2fr;
    .numeracion{
      transform: translate(3%);
    }
  }

  .filtros {
    .filter {
      display: none;
      h3{
        font-size: 1.3rem;
      }

      .categoria, .estado, .financiacion, .combustible, .traccion{

        h5{
          font-size: 1rem;
        }
      }
    }
  }

#tipos{
  font-size: .7rem;
}


  #check_filter:checked ~ .filter {
    display: inline-block;
    width: 100%;
    height: 100%;
    
  }

  .catalogo {
    .numeracion {
      margin-left: 25%;
    }
  }

  .nosotros_historia {
    display: flex;
    flex-direction: column;

    .historia_img {
      .img_grupo {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        .img_foto {
          img {
            width: 15rem;
          }
        }
      }
    }

    .info {
      .ubicacion {
        width: 100%;
      }
    }
  }

  .footer {
    
    justify-content: space-evenly;
    text-align: center;
    height: 40rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    .links,
    .redes {
      ul {
        transform: translate(40%);
      }
    }
    
    .contacto {
      transform: translate(30%, -20%);
    }
  }
}

@media (max-width: 700px) {

  .stock {
    .stock_container {
    transform: translate(6%);
    }
  }

  .vehiculos {
    .stock_card {
      width: 13rem;
    }
  }

  .info{
    h2{
      font-size: 1.5rem;
    }
    .ubicacion{

      h4{
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 576px) {

  .stock {
    .stock_container {
      margin-left: 7%;
      .stock_card {
        width: 12rem;
      }
    }

  }

  .catalogo {
    .vehiculos {
      grid-template-columns: (1fr);
      transform: translate(12%);
      .stock_card {
        width: 18rem;
      }
    }

    .numeracion{
      transform: translate(-9%);
    }
  }

  .mapa {
    height: 150px;
  }

  .contacto ul .link_item {
    display: flex;
    flex-direction: column;
  }

  .contacto .d-flex {
    flex-direction: column;
    width: 60%;
  }
}

@media (max-width: 500px) {

  .menu{

    label{
      margin-top: $porcentaje *4;
    }

    span{
      font-size: 1.5rem;
      margin-top: $porcentaje *2;
      
    }
  }

  .stock {
    .stock_container {
      .stock_card {
        width: 10rem;
      }
    }
  }

  .catalogo {
    .vehiculos {
      transform: translate(10%);
      .stock_card {
        width: 12rem;
      }
    }
  }
}

@media (max-width: 400px) {

  .menu{
    span{
      font-size: 1.2rem;
      margin-top: $porcentaje *3;
    }
  }

  .stock{
    .stock_container{ 
      transform: translate(2%);
    }
  }

  .catalogo{
    .numeracion{
      margin-top: 5%;
      margin-left: 12%;
    }
  }

}